<div class="announcement-card">
  <div class="d-flex align-items-center">
    <!-- Avatar -->
    <img src="https://kitt.lewagon.com/placeholder/users/rayjosong" class="avatar" />
    <!-- Organizer's name -->
    <p class="mb-0 mx-3"><strong><%= announcement.itinerary.organiser.first_name %> <%=  announcement.itinerary.organiser.last_name %></strong></p>
  </div>
  <!-- Announcement content -->
  <div class="announcement-content">
    <p class="mb-0"><%= announcement.content %></p>
  </div>
</div>
