<div id="current-traveller" class="rayan">
  <div class='d-flex justify-content-center'>
    <%= image_tag("https://kitt.lewagon.com/placeholder/users/#{fname}", class: "avatar-xl avatar-margin-bottom") %>
  </div>
  <p class='text-center' style="text-decoration: none;"><%= fname %></p>
</div>
