<% if current_user == organiser %>
    <div class="container d-flex mx-auto">
      <div class="container bg-platinum overflow-auto" style="height:70vh;">
        <p class="text-l text-center m-3">Follower Requests</p>
        <% unless pending_users.count.zero? %>
          <% pending_users.each do |p_user| %>
            <%= render "each_pending_user", p_user: p_user %>
          <% end %>
        <% else %>
          <p class='text-center mt-3 mb-5 '>There are no follower requests right now. Check again later!</p>
        <% end %>
      </div>
    </div>
<% end %>
