<div class="container d-flex justify-content-center">

<%# card 1: Who organised it %>
<div class="container border-black d-flex justify-content-between">
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/rayjosong", class: "avatar-xl m-4", 'aria-haspopup': true, 'aria-expanded': false %>
  <div class="container m-3">
    <p class="text-xl">Organised by: <br>Raymond</p>
    <div>
      <p>Singapore</p>
    </div>
  </div>

  <p>test</p>
  <p>test</p>
</div>
<%# card 2: Current travelers%>
<%# card 3: Requests %>

</div>
