<div class="d-flex flex-column">
  <%# card 1: Who organised it %>
  <div class="container d-flex mx-auto">
    <div class="container border-black d-flex">
      <div class="container m-3 d-flex justify-content-start align-items-center">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/rayjosong", class: "avatar-xl m-4", 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="p-2">
          <p class="text-xl">Organised by: <br><%= organiser %></p>
          <i class="fa-solid fa-location-dot"></i>
          <span>Singapore</span>
        </div>
      </div>

      <div class="p-3 d-flex align-items-center">
        <div>
          <p class="text-m"><strong>Languages: </strong>English, French</p>
          <p class="text-m"><strong>Response time: </strong>English, French</p>
          <%= link_to "Find out more about me", '#', class: "btn-black rounded" %>
          <%= link_to "Send message", '#', class: "btn-black rounded mt-3" %>
        </div>
      </div>
    </div>
  </div>
  <%# card 2: Current travelers%>

  <div class="container d-flex mx-auto">
  <div class="container bg-platinum">
    <h5 class="text-center">Current travelers in this trip</p>
    <div class='container-avatars'>
      <div class="rayan">
        <img src="https://kitt.lewagon.com/placeholder/users/random" class="avatar avatar-large" alt="">
        <p>Rayan</p>
      </div>
      <div class="germaine">
        <img src="https://kitt.lewagon.com/placeholder/users/random" class="avatar avatar-large" alt="">
        <p>Germaine</p>
      </div>
      <div class="helen">
        <img src="https://kitt.lewagon.com/placeholder/users/random" class="avatar avatar-large" alt="">
        <p>Germaine</p>
      </div>
      <div class="helen">
        <img src="https://kitt.lewagon.com/placeholder/users/random" class="avatar avatar-large" alt="">
        <p>Germaine</p>
      </div>
      <div class="helen">
        <img src="https://kitt.lewagon.com/placeholder/users/random" class="avatar avatar-large" alt="">
        <p>Germaine</p>
      </div>
    </div>
  </div>
  </div>

  <%# card 3: Requests %>
</div>

          <%# pending_users.where(status:"pending").each do |p_user| %>
            <%# "name: #{p_user.user.first_name}" %>
            <%# link_to "accept", accept_itinerary_user_path(p_user), method: :patch %>
            <%# link_to "reject", reject_itinerary_user_path(p_user), method: :patch %>
          <%# end %>
