<div class="container d-flex justify-content-center">

<%# card 1: Who organised it %>
<div class="container border-black d-flex justify-content-between">
  <div class="container m-3 d-flex justify-content-center align-items-center">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/rayjosong", class: "avatar-xl m-4", 'aria-haspopup': true, 'aria-expanded': false %>
    <div class="p-2">
      <p class="text-xl">Organised by: <br>Raymond</p>
      <i class="fa-solid fa-location-dot"></i>
      <span>Singapore</span>
    </div>
  </div>

  <p>test</p>
  <p>test</p>
</div>
<%# card 2: Current travelers%>
<%# card 3: Requests %>

</div>
