<%# Banner %>
<div class="mytrips-banner">
  <h1>My Trips</h1>
</div>

<div class="container">
  <%# div - completed %>
  <div class="section-header mt-3">
    <h3>Completed</h3>

  </div>
  <%# div - ongoing %>
  <%# div - organising %>

</div>
