.chat-summary {
  justify-content: space-between;
}

.message-group {
  border: 3px solid #003249;
  border-radius: 8px;
  padding: 16px;
}

.chat-links {
  margin-top: 8px;
  margin-bottom: 8px;
}

.chatroom {
  visibility: hidden;
}
