.title {
  margin: 24px;
}

.center {
  text-align: center;
}

.container-chatroom {
  width: 736px;
  background: #003249;
  color: $platinum;
  border-radius: 8px;
}

.chatroom-name {
  padding: 16px;
}

.messages {
  padding: 32px;
  padding-bottom: 0px;
}

.message-sender {
  text-align: right;
}

.message-input {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  border-top: 1px solid $platinum;
}

form {
  gap: 8px;
}

.btn-platinum {
  height: 62px;
}
