// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #0d6efd;
$yellow: #ffc65a;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;

// color palette:
$orange: #f19143;
$alabaster: #e8eddf;
$blue: #003249;
$platinum: #e8e8e8;
$crimson: #87231c;
$jet: #333533;
