// Specific CSS for your home-page
.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 64px 0;
}

.intro-container p {
  max-width: 70%;
  font-size: 16px;
  text-align: center;
  margin-top: 16px;
  line-height: 2rem;
}

.itineraries-container {
  margin: 0 100px;
}

.section-header {
  height: 40px;
  display: flex;
  align-items: center;
  border-left: 6px solid $orange;
  padding: 24px;
  margin-bottom: 16px;
}

.section-header h2 {
  font-size: 26px;
}


.home-image {
  width: 50vw;
  height: 80vh;
}

.filler-container {
  display: flex;
  background: #F9F2E8;

  h3 {
    color: black;
    font-family: 'Charis SIL', serif;
  }
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.sample-events {
  display: flex;
  justify-content: space-between;
}

.sample-events.container {
  display: flex;
  flex-direction: column;

}
