// Specific CSS for your home-page
.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 64px 0;
}

.intro-container p {
  max-width: 70%;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 16px;
  line-height: 2rem;
}

.section-header {
  height: 40px;
  display: flex;
  align-items: center;
  border-left: 6px solid $purple;
  padding: 24px;
  margin-bottom: 16px;
}

.section-header h2 {
  font-size: 26px;
}

.explore-iti-desc {
  font-size: 1.3rem;
}

.itineraries-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
