<div class="title center">
  <h1>My Messages</h1>
</div>

<div class="d-flex">
<div class="chat-summary mx-auto col-3" data-controller="chatbox">
  <div class="message-group col-6">
    <h3>Group Messages</h3>
      <% @chatrooms.each do |chatroom| %>
        <% if chatroom.itinerary %>
        <div class="chat-links">
          Itinerary Title: <%= chatroom.itinerary.title %>
          <br>
          Chatroom: <%= link_to chatroom.name, chatroom_path(chatroom) %>
        </div>
        <% end %>
      <% end %>
  </div>

  <div class="message-group col-6 mt-3">
  <h3>Direct Messages</h3>
    <% @chatrooms.each do |chatroom| %>
      <% if chatroom.itinerary == nil %>
        <div class="chat-links", data-action="click->chatbox#show", data-chatbox-target="link">
          <%= link_to chatroom.name, chatroom_path(chatroom) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

  <div class="chatroom mx-auto col-6", data-chatroom-summary-target="chatbox">
    <% @chatrooms.each do |chatroom| %>
      <%= render "chatbox", chatroom: chatroom %>
    <% end %>
  </div>
</div>
