<div class="title center">
  <h1>My Messages</h1>
</div>

<div class="chat-summary d-flex col-6 mx-auto">
  <div class="group-messages">
    <h3>Group Messages</h3>
      <% @chatrooms.each do |chatroom| %>
        <% if chatroom.itinerary %>
        <li><%= link_to chatroom.name, chatroom_path(chatroom) %></li>
        <% end %>
      <% end %>
  </div>

  <div class="direct-messages">
  <h3>Direct Messages</h3>
    <% @chatrooms.each do |chatroom| %>
      <% if chatroom.itinerary == nil %>
        <li><%= link_to chatroom.name, chatroom_path(chatroom) %></li>
      <% end %>
    <% end %>
  </div>
</div>
