<div class="title center">
  <h1>My Messages</h1>
</div>

<div class="chat-summary d-flex col-6 mx-auto">
  <div class="message-group">
    <h3>Group Messages</h3>
      <% @chatrooms.each do |chatroom| %>
        <% if chatroom.itinerary %>
        <div class="chat-links">
          <%= link_to chatroom.name, chatroom_path(chatroom) %>
        </div>
        <% end %>
      <% end %>
  </div>

  <div class="message-group">
  <h3>Direct Messages</h3>
    <% @chatrooms.each do |chatroom| %>
      <% if chatroom.itinerary == nil %>
        <div class="chat-links">
          <%= link_to chatroom.name, chatroom_path(chatroom) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
