<%# profile header %>
<div class="container d-flex mx-auto">
  <div class="container border-black-large d-flex">
    <div class="container m-3 d-flex justify-content-start align-items-center">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/rayjosong", class: "avatar-xxl m-4", 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="p-2">
          <p class="text-xl"><%= @user.first_name + " " + @user.last_name %></p>
          <i class="fa-solid fa-location-dot"></i>
          <span>Singapore</span>
        </div>
    </div>

    <div class="p-3 d-flex align-items-center">
      <div>
        <p class="text-m"><strong>Languages: </strong>English, French</p>
        <p class="text-m"><strong>Response Rate: </strong>100%</p>
        <p class="text-m"><strong>Response Time: </strong>Within an hour</p>
      </div>
    </div>
  </div>
</div>

<%# profile body %>
<div class="container d-flex mx-auto">
  <div class="row col-6 border-black-large">
    <div class="m-3 justify-content-start align-items-center">
    <h3>About Me</h3>
    <p>Hello! I love travelling and meeting new people.</p>
    </div>
  </div>

    <div class="row col-6 border-black-large">
    <div class="m-3 justify-content-start align-items-center">
    <h3>Places I've travelled to</h3>
    <p> </p>
    </div>
  </div>
</div>
