<div class="container user-profile">
  <%# sidebar %>
  <div class="user-sidebar">
    <%# user profile details %>
    <div class="profile-details">
      <%# avatar %>
      <div class="user-avatar center">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/rayjosong", class: "avatar", 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="center">
          <p><em>Update photo</em></p>
        </div>
      </div>

      <%# verification information %>
      <div class="user-verification">
        <div class="user-verification info">
          <i class="fa-solid fa-star"></i> 6 reviews
        </div>
        <div class="user-verification info">
          <i class="fa-solid fa-globe"></i> Organised 2 trips
        </div>

        <div>
        </div>
      </div>
    </div>
  </div>

  <%# content %>
  <div class="user-content">
  test test
  </div>
</div>
