<div class="container user-profile">
  <%# sidebar %>
  <div class="user-sidebar">
    <%# user profile details %>
    <div class="profile-details">
      <%# avatar %>
      <div class="user-avatar">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/rayjosong", class: "avatar-xxl m-4", 'aria-haspopup': true, 'aria-expanded': false %>
        <em>Update photo</em>
      </div>

      <%# verification information %>
      <div class="user-verification-info">
        <div class="user-reviews">
          <i class="fa-solid fa-star"></i> 6 reviews
        </div>
        <div class="organised-trips">
          <i class="fa-solid fa-globe"></i> Organised 2 trips
        </div>
      </div>
    </div>
  </div>

  <%# content %>
  <div class="user-content">
  test test
  </div>
</div>
