<div class="footer">

  <div class="chum-left">
    <h1>placeholder</h1>
  </div>

  <div class="footer-right">
    <p>Choose how you meet with CHUM.</p>

    <div class="icon-links">
      <a href=""><i class="fa-brands fa-github fa-2x"></i></a>
    </div>
  </div>
</div>
