<div class="home-banner">
  <div class="home-banner-text">
    <h1><strong>Choose How U Meet</strong></h1>
    <p>Discover buddies for your next trip</p>

    <div class="btn-purple plan-trip-btn" style="width: 210px">
      <%= link_to "Plan trip", itineraries_new_path %>
    </div>
  </div>

  <div class="search-container">
    <div class="home-search-card">
      <p><strong>Hi, where do you want to go?</strong></p>

      <%= render 'search_form' %>
    </div>
  </div>

</div>
