<!--- Find me in app/views/pages/home.html.erb -->

<div class="home-banner">
  <h1><strong>Discover buddies for your next trip</strong></h1>
</div>

<!-- TO BE REMOVED -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 50 %>
    </div>
  </div>
</div>
