<!--- Find me in app/views/pages/home.html.erb -->
<% provide(:navbar_transparent_style, "navbar-transparent") %>

<div class="home-banner">
  <h1><strong>Discover buddies for your next trip</strong></h1>
  <div class="banner-text">
    <p class="fs-2">Chum is an online service that connects travellers in Singapore before they hit the road.</p>
  </div>
</div>

<!-- TO BE REMOVED -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 50 %>
    </div>
  </div>
</div>
