<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container">

  <div class="btn-orange big">
    <p>Btn</p>
  </div>

  <br><br>

  <div class="btn-orange medium">
    <p>Orange medium</p>
  </div>

  <br><br>


  <div class="btn-orange normal">
    <p>button</p>
  </div>

  <br><br>

  <div class="btn-orange rounded">
    <p>rounded</p>
  </div>
</div>
