<!--- Find me in app/views/pages/home.html.erb -->
<div class="bg-white pb-5">
  <%= render 'banner' %>

  <!-- Intro text -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="intro-container">
          <h3><strong>A New Adventure Awaits</strong></h3>
          <p>Can’t get your family or friends to travel together because everyone’s too busy?
          You don't have to give up on your travel plans, with ready-made itineraries just a click away.</p>
          <p>Join trips organized by solo-travellers, or be an organizer and plan trips for others to join.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Some itineraries -->
  <div class="itineraries-container">
    <div class="row">
      <div class="col-12">
        <div class="section-header">
          <h2><strong>Explore Itineraries</strong></h2>
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-12 col-sm-9">
        <p class="mb-0">Want someone to share the journey with? Checkout itineraries of upcoming trips.</p>
      </div>
      <div class="col-12 col-sm-3">
        <%= link_to "More", itineraries_path, class:"btn-black-outline" %>
      </div>
    </div>

    <!-- Itinerary cards -->
    <div class="row" data-controller="itinerary-card">
      <% @itineraries.where(published: true).order(created_at: :desc).first(6).each do |itinerary| %>
        <%= render "cards", itinerary: itinerary %>
      <% end %>
    </div>
  </div>

</div>
