.itinerary-key-details  {
  display: flex;
  align-items: center;
  width: 50vw;
  justify-content: space-between;
  color: white;

  p {
    margin-bottom: 0;
  }
}

.itinerary-bar {
  display: flex;
  justify-content: center;
  background-color: #333533;
  height: 45px;
}

.itinerary-main {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
