.home-banner-parallax-wrapper {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9)), url('https://source.unsplash.com/bPsY__UVZHA');
  background-size: cover;
  background-position: top center;
  height: auto;
  color: $black;
  display: flex;
  flex-direction: column;
  // padding-top: 20vh;
	background-attachment: fixed;
	background-repeat: no-repeat;
}


.home-banner-text {
  margin: 0 150px;
  margin-top: 25vh;

  h1 {
    font-size: 3rem;
    margin-bottom: 24px;
    font-weight: 600;
  }

  p {
    font-weight: 500;
    color: $jet;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 32px;
  }
}

.all-trips-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://source.unsplash.com/E_eWwM29wfU');
  background-size: cover;
  background-position: center center;
  top: 10px;
  height: 50vh;
  color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
}

.all-trips-header {
  color: white;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.mytrips-banner {
  background-image: url('https://source.unsplash.com/3OiYMgDKJ6k');
  background-size: cover;
  background-position: center center;
  top: 10px;
  height: 50vh;
  color: $black;
  // text-align: center;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  padding-top: 20vh;
  margin-top: 69px;
}
