//Orange Buttons//
.btn-orange {
  background-color: $orange;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s;
}

.btn-orange a {
  text-decoration: none;
  color: white;
}

.btn-orange:hover {
  background-color: #ff8a2b;
  color: white;
}

.btn-orange.big {
  width: 350px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btn-orange.medium {
  width: 200px;
}

.btn-orange.normal {
  width: 100px;
}

.btn-orange.rounded {
  width: 300px;
  border-radius: 15px !important;
}

.btn.orange.tall {
  height: 60px;
}

// platinum buttons

.btn-platinum-request {
  background-color: $platinum;
  color: $blue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 47px;
  border-radius: 5px;
  padding: 1rem;
  font-weight: bold;
  transition: background-color 0.2s;
}

.btn-platinum:hover {
  background-color: #bebebe;
  color: $blue;
}

.btn-platinum.normal {
  width: 100px;
}

.btn-platinum.long {
  width: 135px;
}

//Black Buttons//
.btn-black {
  background-color: $jet;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.2s;
}

.btn-black a {
  text-decoration: none;
  color: white;
}

.btn-black:hover {
  background-color: grey;
  color: white;
}

.btn-black.big {
  width: 350px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btn-black.medium {
  width: 200px;
}

.btn-black.normal {
  width: 100px;
}

.btn-black.rounded {
  width: 300px;
  border-radius: 15px !important;
}

.btn.black.tall {
  height: 60px;
}

// Crimson buttons

.btn-crimson {
  background-color: $crimson;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.2s;
}

.btn-crimson:hover {
  background-color: #6c1a15;
  color: white;
}

.btn-crimson.long {
  width: 300px;
}

.btn-crimson.rounded {
  width: 300px;
  border-radius: 15px !important;
}

.btn-crimson.medium {
  width: 215px;
}

.btn-crimson.short {
  width: 145px;
}

.transparent-btn {
  opacity: 0.5;
}

.btn-padding-small {
  padding: 1rem;
}

.btn-height-small {
  height: 33px !important;
}

.accept-reject-btn {
  background-color: $jet;
  color: $platinum;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.2s;
  text-decoration: none;
}

.accept-reject-btn.reject:hover {
  background-color: #6c1a15;
  color: white;
  text-decoration: none;
}

.accept-reject-btn.accept:hover {
  background-color: #2b6c15;
  color: white;
  text-decoration: none;
}
