// Purple buttons

.btn-purple {
  background-color: $purple;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s;
  border: none;
}

.btn-purple:hover {
  background-color: #5a49b7;
  color: white;
  font-weight: bold;
}

//Orange Buttons//
.btn-orange {
  background-color: $orange;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s;
  border: none;
}

.btn-orange-outline {
  border: solid 1px $orange;
  color: $orange;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 400;
  transition: background-color 0.2s;
  border-radius: 20px;
}

.btn-orange-outline:hover {
  background-color: $orange;
  color: $alabaster;
  font-weight: bold;
}

.btn-orange-medium-outline {
  border: solid 1px $orange;
  color: $orange;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 400;
  transition: background-color 0.2s;
  border-radius: 20px;
  width: 150px;
}

.btn-orange-medium-outline:hover {
  background-color: $orange;
  color: $alabaster;
  font-weight: bold;
}

.btn-orange a {
  text-decoration: none;
  color: white;
}

.btn-orange:hover {
  background-color: #ff8a2b;
  color: white;
}

.btn-orange.big {
  width: 350px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btn-orange.medium {
  width: 200px;
}

.btn-orange.normal {
  width: 100px;
}

.btn-orange.rounded {
  width: 300px;
  border-radius: 15px !important;
}

.btn.orange.tall {
  height: 60px;
}

// platinum buttons

.btn-platinum-request {
  background-color: $platinum;
  color: $blue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 47px;
  border-radius: 5px;
  padding: 1rem;
  font-weight: bold;
  transition: background-color 0.2s;
}

.btn-platinum:hover {
  background-color: #bebebe;
  color: $blue;
}

.btn-platinum.normal {
  width: 100px;
}

.btn-platinum.long {
  width: 135px;
}

.btn-platinum-outline {
  border: solid 1px $platinum;
  color: $platinum;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 400;
  transition: background-color 0.2s;
}

.btn-platinum-outline:hover {
  background-color: $platinum;
  color: $jet;
}

//Black Buttons//
.btn-black {
  background-color: $jet;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.2s;
}

.btn-black-outline {
  border: solid 1px $jet;
  color: $jet;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 400;
  transition: background-color 0.2s;
}

.btn-black-outline:hover {
  background-color: #222322;
  color: white;
}

.btn-black a {
  text-decoration: none;
  color: white;
}

.btn-black:hover {
  background-color: grey;
  color: white;
}

.btn-black-outline.long {
  width: 300px;
}

.btn-black-outline.medium {
  width: 215px;
}

.btn-black.big {
  width: 350px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btn-black.medium {
  width: 200px;
}

.btn-black.normal {
  width: 100px;
}

.btn-black.rounded {
  width: 300px;
  border-radius: 15px !important;
}

.btn.black.tall {
  height: 60px;
}

// Crimson buttons

.btn-crimson {
  background-color: $crimson;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.2s;
}

.btn-crimson:hover {
  background-color: #6c1a15;
  color: white;
}

.btn-crimson.long {
  width: 300px;
}

.btn-crimson.rounded {
  width: 300px;
  border-radius: 15px !important;
}

.btn-crimson.medium {
  width: 215px;
}

.btn-crimson.short {
  width: 145px;
}

.transparent-btn {
  opacity: 0.5;
}

.btn-padding-small {
  padding: 1rem;
}

.btn-height-small {
  height: 33px !important;
}

.accept-reject-btn {
  background-color: $jet;
  color: $platinum;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.2s;
  text-decoration: none;
}

.accept-reject-btn.reject:hover {
  background-color: #6c1a15;
  color: white;
  text-decoration: none;
}

.accept-reject-btn.accept:hover {
  background-color: #2b6c15;
  color: white;
  text-decoration: none;
}

.full-width {
  width: 100%;
}


// purple buttons
.btn-purple {
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: auto;
  border-radius: 20px;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  transition: background-color 0.2s;
  padding: 0 24px;

  a {
    text-decoration: none;
    color: white;
  }
}

.btn-purple:hover {
  background-color: $dark-purple;
  color: white;

  a {
    color: white;
  }
}

.btn-purple-outline {
  border: solid 1px $purple;
  color: $purple;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: auto;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  transition: background-color 0.2s;
  padding: 0 24px;
}

.btn-purple-outline:hover {
  background-color: $dark-purple;
  border: solid 1px $dark-purple;
  color: white;
}

.plan-trip-btn {
  font-size: 2rem;
  width: 210px;
  padding: 30px;
  border-radius: 50px;
}
