.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
