.event-card {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.event-image {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 280px;
  padding: 10px;
}
