html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}


.footer-container {
  background-color: #23272A;
  color: white;
  font-size: 1.3rem;
  padding: 0 2rem;

  h4 {
    color: $purple;
  }

  hr {
    color: $purple;
    height: 2px;
  }
}
