.footer-container {
  background-color: #23272A;
  color: white;
  font-size: 1.3rem;
  padding: 0 2rem;

  h4 {
    color: $purple;
  }

  hr {
    color: $purple;
    height: 3px;
  }
}


.chum-left {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4120BC;
}
