.form-header {
  font-weight: 800;
  font-size: larger;
}

.form-background-alabaster {
  background-color: $alabaster;
}

.label-bold {
  font-weight: 600;
}

.hint-text {
  font-weight: 300;
  font-size: x-small;
}

.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: $alabaster;
  color: $jet;
  border: 1px solid $jet;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: $jet;
  color: white;
}
