.itineraries-banner {
  width: 100vw;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  background-size: cover;
  background-position: center;
}
