.accordion-button {
  color: white;
  background-color: $crimson;
}

.accordion-button.collapsed {
  background-color: $crimson;
  color: white;
}

.event-card {
  position: relative;
}


.details-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.modal-image {
  width: 745px;
  height: 390px;
}

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.modal-event-address-time {
  display: flex;
  justify-content: space-between;

  .event-time {
    margin-right: 30px;
  }
}
