.border-black-large {
  border: 1px solid rgba(black, 0.15);
  border-radius: 8px;
  margin: 1rem;
}

.text-xl {
  font-size: 40px;
  font-weight: 700;
}

.text-l {
  font-size: 30px;
  font-weight: 500;
}

.text-m {
  font-size: 20px;
}

.bg-platinum {
  background-color: $platinum;
  border-radius: 8px;
  margin: 1rem;
}

.bg-white {
  background-color: white;
}
// #current-travelers {
//   height: 30vh;
//   width: 100vw;
// }

.flex-container-around {
  display: flex;
  justify-content: space-around;
}

.wrap {
  flex-wrap: wrap;
}

#request-message {
  display: flex;
  justify-content: start;
}

.border-black {
  border: 1px solid rgba(black, 0.15);
  border-radius: 8px;
  margin: 1rem;
}

#current-travellers-text {
  font-weight: 500;
}

// #pending-name {
//   overflow-wrap: break-word;
// }

#avatar-name {
  max-width: 100px;
}

.width-long {
  width: 620px;
}
