.accordion-button {
  color: $jet;
  background-color: #f4f4f4;
  border: none;
}

.accordion-button.collapsed {
  background-color: #f4f4f4;
  color: $jet;
  border: none;
}

.event-card {
  position: relative;
}


.details-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.modal-image {
  width: 770px;
  height: 390px;
}

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.modal-event-address-time {
  display: flex;
  justify-content: space-between;

  .event-time {
    margin-right: 30px;
  }
}

.sectionThree {
  display: flex;
  justify-content: center;
}
