// .nav-tabs > button {
//   color: #333533;

// }

// .nav-tabs > button:hover {
//   color: $orange;

// }


.tabs-head {
  display: flex;
  justify-content: left;
  align-items: center;
}

.tabs_toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  &:hover {
    cursor:pointer;
  }
}

.tabs_toggle.active {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #003153;
}

.tab-content.active {
  display: contents;
}

.tab-content {
  display: none;
}

.contents {
  padding: 30px;
  display: flex;
  flex-direction: column;

  p {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.itinerary-events {
  display: flex;
}


// For the empty events
.empty {
  height: 300px;
  width: 400px;
  margin-top: 10px;
  background-color: $alabaster;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
