.completed-trips {
  .section-body {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;


    .trip-card:hover{ /* Just for styling */
      cursor: pointer;
      box-shadow: 0 0 15px rgba(0,0,0,0.4);
      transform: none;
    }
  }
}

.my-trips {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.zero-trips {
  width: 500px;
  padding: 40px;
}
