.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: black !important;
  font-weight: bold;
  font-size: 16px;
}

.navbar-chum-transparent{
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-chum-black {
  background-color: $black;

  .nav-link {
    color: white !important;
    font-weight: bold;
    font-size: 16px;
  }
}

.navbar-chum-white {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.5s background-color ease;

  .nav-link {
    color: $black !important;
    font-weight: bold;
    font-size: 16px;
  }
}
