.popup-blue {
  background-color: $blue;
  width: 40vw;
  height: 30vh;
  padding: 1.5rem;
  z-index: 999;
  border-radius: 8px;
}

margin-bottom-medium {
  margin-bottom: 1.2rem;
}

h3.text-white {
  color: white;
  text-align: center;
  font-weight: 600;
}

.text-white {
  color: white;
  text-align: center;
  font-weight: 400;
}

.black-overlay {
  background-color: rgba(black, 0.25);
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3.text-blue {
  color: $blue;
  text-align: center;
}

.text-blue {
  color: $blue;
  text-align: center;
}

.popup-platinum {
  background-color: $platinum;
  width: 50vw;
  height: 50vh;
  padding: 1.5rem;
  z-index: 999;
}
